@font-face {
  font-family: Hylian;
  src: url("fonts/HyliaSerifBeta-Regular.otf") format("opentype");
}

@font-face {
  font-family: Hylian;
  font-weight: bold;
  src: url("fonts/HyliaSerifBeta-Regular.otf") format("opentype");
}

@keyframes opening{
  0% {opacity: 0;transform: scale(10); }
  100%{opacity: 100%;transform: scale(1); }
}

@keyframes app-opening{
  0% {opacity: 0;}
  100%{opacity: 100%; }
}

.Container{
 /* background-color: 	#1e1e1e;*/
  max-width: 100vw;
  height: 100vh;
  margin-top: -3vh;
}

.intro{
  font-family: Hylian;
  color: white;
  width: 98vw;
  height: 100vh;
  text-align: center;
    margin: auto;
    margin-top: 25%;
}

.intro-answer{
  cursor: pointer;
}

.App {
  animation-name: app-opening;
  animation-delay: 4s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  opacity: 0;
  width: 98vw;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
}

.title{
  animation-name: opening;
  animation-duration: 4s;
  width: 98vw;
  text-align: center;
  font-family: Hylian;
  background: black;
  color: white;
  padding-top: 2vh;
}

.subtitle{
  margin-top: -1em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Play-grid{
  width: 60%;
  height:89vh;
  border: solid white;
  overflow:auto;
  display: flex;
  flex-direction: column;
}

.Dev-area{
  width: 40%;
  height: 90%;
  flex: flex-grow;
  display:block;
}

.mainEditor{

}

.buttonBar{
  height: 11%;
  border: solid white;
  color: white;
  background: black;
  cursor: pointer;
}


.playText {
  margin-block: auto;
  font-size: 300%;
  font-family: Hylian;
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.running{
  color:red;
  cursor: not-allowed;
}


.outputs{
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.console{
  margin-block: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 80%;
    overflow: auto;
    display: flex;
   /* flex-direction: column-reverse; more consistent with js solution*/
}


.stats{
  
    margin-block: auto;
    font-family: Hylian;
    color: white;
    font-size: 100%;
      overflow: auto;
      display: flex;
     /* flex-direction: column-reverse; more consistent with js solution*/
  
}


.cell{
  height: 5vh;
  width: 5vw;
  min-width: 4em;
  min-height: 4em;
  border: 0.1em solid black;
  flex:1;
}

.water{
  content:url(sprites/water.png);
  background-color: #1E38EB;
}

.rock{
  content:url(sprites/rock.png);
  /*background-color: grey;*/
}

.hero{
  content:url(sprites/hero.png);
  /*background-color: greenyellow;*/
}

.monster{
  content:url(sprites/monster.png);
  /*background-color: red;*/
}

.queen{
  content:url(sprites/queen.png);
  /*background-color: green;*/
}

.dmg{
    filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg);
}

.row{
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
}

.mapContainer{
  flex-wrap: nowrap;
  flex-direction: column;
  display: flex;
  background-color: #E3CDA6;
}